body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #99a3ad;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  z-index: 10;
  transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

.nav-item-responsive {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.main-view {
  margin-top: 71px;
}

.main-board {
  margin-top: 100px;
  margin-bottom: 100px;
}

.logo-image {
  height: 45px;
  width: auto;
}

.profile-img {
  height: auto;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
}

.avatar-button {
  background-color: #d9aa00;
  color: #fff;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-style {
  top: 5px;
  right: 0px;
}

@media (max-width: 767px) {
  .logo-image {
    height: 35px;
    content: url('./assets/images/logo.png');
  }
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: none;
}

.drone-background {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  color: #fff;
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Image will not scroll with the page */
  background-position: center center;
  /* Center the image */
  background-size: cover;
  /* Cover the entire element regardless of its size */
  margin-top: 70px;
  height: calc(100vh - 70px);
  /* full height minus the header height */
}

.drone-background-item-detail {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  color: #fff;
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Image will not scroll with the page */
  background-position: center center;
  /* Center the image */
  background-size: cover;
  /* Cover the entire element regardless of its size */
  margin-top: 70px;
  height: 100%;
}

.card-body {
  padding: 1.5rem 1.5rem;
}

.avatar-group {
  display: flex;
  justify-content: flex-start;
}

.avatar-group .avatar {
  transition: all 0.25s ease;
}

.avatar {
  background-color: #c3c3c3;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.avatar {
  white-space: nowrap;
  position: relative;
  color: #fff;
  display: inline-flex;
  font-size: 1rem;
  vertical-align: middle;
  font-weight: 600;
}

.avatar-group .avatar img,
.avatar-group .avatar .avatar-content {
  box-shadow: 0 0 0 2px #fff, inset 0 0 0 1px rgba(34, 41, 47, 0.07);
}

.avatar img {
  border-radius: 50%;
}

.avatar-group .avatar:not(:first-child) {
  margin-left: -0.55rem;
}

.pull-up {
  transition: all 0.25s ease;
  &:hover {
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0px 14px 24px rgba(62, 57, 107, 0.2);
    z-index: 30;
  }
}

.pull-up:hover {
  transform: translateY(-4px) scale(1.07);
}

.avatar:hover {
  transition: all 0.25s ease;
}

.form-check-label.form-label {
  margin-bottom: 0;
  color: #fff;
  font-size: 1rem;
}

.form-check-label {
  cursor: pointer;
}

textarea.form-control {
  line-height: 1.6rem;
  min-height: 2.714rem;
}

.review-img-fluid {
  max-width: 100%;
  height: 150px;
}

hr.custom-hr {
  border: 0;  /* Remove the default border */
  height: 2px; /* Thickness of the HR */
  background-color: #fff; /* Color of the HR */
  margin-top: 20px; /* Space above the HR */
  margin-bottom: 20px; /* Space below the HR */
}

.chart-container {
  height: 400px;
  padding: 16px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .drone-background {
    /* Adjust the top margin if different for mobile devices */
    margin-top: 50px;
    height: calc(100vh - 50px);
    /* adjust height for mobile top margin */
  }

  .drone-background-item-detail {
    /* Adjust the top margin if different for mobile devices */
    margin-top: 62px;
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .drone-explore {
    height: 100vh !important;
    padding-top: 5.5rem;
  }
}

@media (max-width: 576px) {
  .auth-panel {
    justify-content: center !important;
  }

  .auth-form {
    width: 400px;
  }
}

.btn-gray {
  --bs-btn-color: #fff;
  --bs-btn-bg: #83878b;
  --bs-btn-border-color: #ebf0f5;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #83878b;
  --bs-btn-hover-border-color: #83878b;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #83878b;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #83878b;
  --bs-btn-disabled-border-color: #83878b;
}

.navbar-nav .nav-item .nav-link .btn:hover {
  color: #ffc800;
}

.drone-detail .btn:hover {
  color: #fff;
  background-color: #d9aa00;
  border-color: #cca000;
}

a:hover {
  color: #cca000;
}

.no-list-style {
  list-style: none;
  padding: 0;
  /* Remove padding if it exists */
  margin: 0;
  /* Remove margins if it exists */
}

.user-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.auth-form {
  background-color: #989ca173;
  padding: 20px;
  border-radius: 8px;
  text-align: start;
  width: 350px;
}

.auth-panel {
  display: flex;
  justify-content: end;
}

.form-label {
  margin-bottom: 0.2rem;
}

.btn-orange {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0000 0;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9aa00;
  --bs-btn-hover-border-color: #cca000;
  --bs-btn-focus-shadow-rgb: 255, 208, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cca000;
  --bs-btn-active-border-color: #bf9600;
  --bs-btn-active-shadow: inset 0 100px 100px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffc800;
  --bs-btn-disabled-border-color: #ffc800;
}

.btn-water {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3669b7;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3669b7;
  --bs-btn-hover-border-color: #3669b7;
  --bs-btn-focus-shadow-rgb: 255, 208, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3669b7;
  --bs-btn-active-border-color: #3669b7;
  --bs-btn-active-shadow: inset 0 100px 100px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3669b7;
  --bs-btn-disabled-border-color: #3669b7;
}

a {
  color: #cca000;
  text-decoration: none;
}

.text-separator {
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 10px 0;
  color: #fff;
}

.text-separator:after,
.text-separator:before {
  content: '';
  height: 1px;
  background-color: #fff;
  flex-grow: 1;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1.2rem;
  clear: both;
  font-weight: 400;
  color: #6e6b7b;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:active,
.dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #cca000;
}

.dropdown-menu {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  animation-name: slideIn;
}

@media (max-width: 768px) {
  ul.navbar-nav li .dropdown-menu {
    width: 100% !important;
    margin-top: 6px !important;
  }
}

.is-invalid {
  border-color: #ea5455 !important;
}

.react-select.is-invalid .select__control {
  border-color: #ea5455;
}

.form-control:focus,
.form-control:active {
  outline: none !important;
  box-shadow: none !important;
  border: 1px solid #cca000;
}

.card {
  background-color: #989ca173;
}

.card .form-label {
  color: #fff;
}

.board-panel {
  display: flex;
  justify-content: center;
}

.support-form {
  width: 750px;
}

.weather {
  padding: 35px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
}

.drone-shop {
  background-color: #989ca173;
  border-radius: 8px;
  padding: 15px 25px;
  height: 70vh;
  /* 70% of the viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}

.drone-tail {
  padding-bottom: 4rem;
}

.drone-title {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  text-align: center;
}

.drone-link {
  width: 200px;
  height: 55px;
}

.btn-xl {
  padding: 1.25rem 2.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.8rem;
  font-weight: 700;
}

/* For tablets and small desktops */
@media (min-width: 768px) and (max-width: 1120px) {
  .drone-shop {
    height: 60vh;
    /* Adjusting height as per device size */
  }
}

/* For mobile devices */
@media (max-width: 767px) {
  .drone-shop {
    height: 50vh;
    /* Further adjustment for smaller screens */
  }

  .drone-title {
    font-size: 2rem;
  }
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #cca000;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9aa00;
  --bs-btn-hover-border-color: #cca000;
  --bs-btn-focus-shadow-rgb: 255, 208, 38;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #cca000;
  --bs-btn-active-border-color: #bf9600;
  --bs-btn-active-shadow: inset 0 100px 100px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffc800;
  --bs-btn-disabled-border-color: #ffc800;
}

/* Assuming .react-dataTable is a class applied to your DataTable component */
.react-dataTable {
  background-color: #989ca173 !important;
  /* Use important only as a last resort */
}

.react-dataTable .hDHZZh {
  background-color: #989ca173;
  color: #fff;
}

.react-dataTable .rdt_Table {
  background-color: #989ca173;
}

.hVPalX {
  color: #fff;
  background-color: #989ca173;
}

.react-dataTable .rdt_TableBody {
  background-color: #989ca173;
}

.drone-item {
  background-color: #989ca173;
  border-radius: 8px;
  padding: 15px 25px;
}

.drone-product-img {
  border-radius: 10px;
  height: 150px;
  width: 150px;
  visibility: visible;
}

.page-item.prev-item {
  margin-right: 0.3571rem;
}

.page-item.prev-item .page-link {
  border-radius: 50%;
}

.page-item.disabled .page-link {
  background-color: #f3f2f7;
  border-color: #dae1e7;
  pointer-events: none;
}

.page-item .page-link {
  margin: 0;
  font-size: 1rem;
  min-width: 2.286rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
}

.page-link {
  padding: 0.5rem 0.85rem;
}

.page-item.prev-item .page-link:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-left'%3E%3Cpolyline points='15 18 9 12 15 6'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
  color: #6e6b7b;
  width: 8px;
  height: 18px;
  content: "";
}

.page-item.disabled .page-link {
  color: #b9b9c3;
}

.page-item.prev-item .page-link,
.page-item.next-item .page-link {
  transition: all 0.2s ease-out;
}

.page-item.prev-item~.page-item:nth-child(2) {
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.page-item.active {
  border-radius: 0;
  box-shadow: none;
}

.page-item.prev-item~.page-item:nth-child(2) .page-link {
  border-top-left-radius: 5rem !important;
  border-bottom-left-radius: 5rem !important;
}

.page-item.active .page-link {
  border-radius: 5rem;
  background-color: #d9aa00;
  border-color: #d9aa00;
  box-shadow: none;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  font-weight: 600;
}

.page-item {
  border-radius: 5rem;
}

.page-link {
  transition: all 0.05s ease-in-out;
}

.page-link {
  background-color: #f3f2f7;
  border: 0 solid #dae1e7;
}

.page-link {
  position: relative;
  display: block;
  color: #6e6b7b;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.page-item.next-item {
  margin-left: 0.3571rem;
}

.page-item.next-item .page-link {
  border-radius: 50%;
}

.page-item.next-item .page-link:after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%236e6b7b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-right'%3E%3Cpolyline points='9 18 15 12 9 6'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px;
}

.page-item.next-item .page-link:after {
  width: 8px;
  height: 18px;
  content: "";
}

.page-item:not(.prev-item) .page-link,
.page-item:not(.next-item) .page-link,
.page-item:not(.first) .page-link,
.page-item:not(.last) .page-link,
.page-item:not(.active) .page-link {
  line-height: 1.3;
}

.mycart-item {
  width: 40%;
  background-color: #989ca173;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.mycart-item-detail {
  background-color: #989ca173;
  border: 2px solid #000;
  border-radius: 5px;
  padding: 25px 5px;
}

.cart_quantity_button a {
  background: #F0F0E9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
  text-decoration: none;
  border: 1px solid #fff;
}

.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

svg:not(:host).svg-inline--fa,
svg:not(:root).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}

.svg-inline--fa {
  display: var(--fa-display, inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -.125em;
}

.cart_quantity_up {
  background: #F0F0E9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
  text-decoration: none;
  border: none;
}

.cart_quantity_down {
  background: #F0F0E9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
  text-decoration: none;
  border: none;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}

.form-check-input[type=radio] {
  border-radius: 50%;
}

.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input:focus {
  border-color: #ffe480;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}

.form-check-input:checked {
  background-color: #ffc800;
  border-color: #ffc800;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input[type=checkbox]:indeterminate {
  background-color: #ffc800;
  border-color: #ffc800;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.form-check-input[disabled]~.form-check-label,
.form-check-input:disabled~.form-check-label {
  cursor: default;
  opacity: 0.5;
}